:root{
    --theme-color: #f43f5e;

    --text-default: #000000;
    --text-unfocus: #7b7b7b;

    --border-default: #d3d3d3;
    --border-hover: #aeaeae;
    --border-highlight: #111111;

    --elevation-shadow-lvl-1: 0 1px 3px 0 #cccccc, 0 0 1px 0 #bbbbbb;
    --elevation-shadow-lvl-2: 0 2px 5px 0 #cccccc, 0 0 1px 0 #cccccc;
    --elevation-shadow-lvl-3: 0 3px 8px 0 #cccccc, 0 0 1px 0 #cccccc;

    --elevation-color-lvl-1: #f4f4f450;
    --elevation-color-lvl-2: #efefef50;
    --elevation-color-lvl-3: #e1e1e150;
}