#owner-landing-bg{
    background-image: url('../../../public/images/ian-dooley-hpTH5b6mo2s-unsplash.jpg');
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover; 
    width: 100%;
    z-index: -1;
}